
.side_bar
  .user_name
    .user_name__top_item
      = current_user.name
      .user_name__top_item__icon 
        = link_to new_group_path, class: "edit" do
          = icon('fas', 'edit', class: 'icon')
        = link_to edit_user_path(current_user), class: "cog"  do
          = icon('fas', 'cog', class: 'icon')
  .group_list 
    - current_user.groups.each do |group|     
      .group_list__main
        = link_to group_messages_path(group) do
          .group_list__main__title
            = group.name
          .group_list__main__text
            = group.show_last_message

